@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color : #3B945E;
  --secondary-color: #182628;
  --sub-primary: #57ba98;
  --sub-secondary: #65CCB8;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* Track */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* color of the scrollbar handle */
  border-radius: 2px; /* rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); /* color of the scrollbar handle on hover */
}


.loader_container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center ;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--sub-primary);
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--sub-primary);
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

  .content {
    display: none; /* Hide content initially */
    padding-top: 80px;
   
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  background-color: #ffffff; /* Adjust as needed */
  transition: box-shadow 0.3s ease-in-out; 
}

.navlinks {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center; /* Center horizontally */
  flex-grow: 1; /* Allow the flex item to grow and take up remaining space */
}

.navlinks ul {
  display: flex;
}
 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: box-shadow 0.3s ease-in-out;
 
}
.navbar.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);

}


.logo {
  width: auto; /* Change width to auto */
  height: 20%;
  display: flex; /* Add flex display */
  align-items: center; /* Align items vertically */
}

.logo h1 {
 font-size: 1.6em;
 padding-left: 20px;
 color: var(--primary-color);
}
.logo h1 span {
  color: var(--secondary-color);
}


.navlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks ul li {
  margin: 0 10px;
  cursor: pointer;
}
.navlinks ul li a {
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 0.9em;
  color: var(--secondary-color);
  padding: 5px 10px;
  display: block;
  transition: color 0.3s;
}
.navlinks ul li a:hover {
  color: var(--primary-color);
}

.navlinks ul li {
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}

.navlinks ul li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  left: 50%;
  bottom: -3px;
  transition: width 0.3s ease, left 0.3s ease;
}

.navlinks ul li:hover::after {
  width: 100%;
  left: 0;
}

.navlinks ul li .dropdown {
  display: none;
  position: absolute;
  background-color: var(--sub-primary);
  list-style: none;
  padding: 0;
  margin: 0;
  top: 60px;
  left: -10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.navlinks ul li .dropdown li {
  margin: 0;
}

.navlinks ul li .dropdown li a {
  padding: 10px;
  color: #fff;
}


.navlinks ul li .dropdown li a i {
  margin-right: 10px;
  background-color: #fff;
  color: var(--sub-primary);
  padding: 5px;
  border-radius: 5px;
}
.navlinks ul li:hover .dropdown {
  display: block;
}



.nav_buttons {
  display: flex;
  gap: 10px;
  padding-right: 40px;
}

.nav_buttons button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--primary-color);
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}
body > div.content > header > div > div.nav_buttons > button:nth-child(2) {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: .3s ease;
}
body > div.content > header > div > div.nav_buttons > button:nth-child(2):hover {
  background-color: var(--sub-primary);
  border: none;
  color: #fff;
}


.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}


.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

/* 

Hero section */

.hero {
  height: 60vh;
  padding: 20px 80px;
  background: url(../assets/home-electronic-banner.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero .text_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}
.hero .text_container h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero .text_container a {
  padding: 10px 20px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
}
.hero .text_container a:hover {
  background-color: #f9feff;
}
a {
  text-decoration: none !important;
}
.services {
  padding: 20px 40px;
  background-color: #f9feff;
}

.center-heading {
text-align: center;
}

.center-heading .section-title {
font-weight: 600;
font-size: 28px;
color: var(--primary-color);
letter-spacing: 1.1px;
line-height: 38px;
margin-bottom: 10px;
}

.center-heading.colored .section-title {
color: #ffffff;
}

.center-text {
text-align: center;
font-weight: 400;
font-size: 16px;
color: var(--primary-color);
line-height: 28px;
letter-spacing: 1px;
margin-bottom: 50px;
}

.center-text.colored {
color: #C7E5FF;
}

.center-text p {
margin-bottom: 30px;
}

.services-small-item {
display: block;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 40px 28px;
text-align: center;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: relative;
z-index: 2;
margin-bottom: 30px;
}

.services-small-item:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
border-radius: 5px;
background-image: linear-gradient(135deg, #80d0c7 0%, #3B945E 100%);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
opacity: 0;
}
.services-small-item.active:before, .services-small-item:hover:before {
opacity: 1;
}

.services-small-item.active .icon:before, .services-small-item:hover .icon:before {
opacity: .26;
}

.services-small-item.active .icon i, .services-small-item:hover .icon i {
background: -webkit-linear-gradient(#fff, #fff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title, .services-small-item:hover .services-title {
color: #ffffff;
}

.services-small-item.active p, .services-small-item:hover p {
color: #ffffff;
}

.services-small-item.active .button i, .services-small-item:hover .button i {
background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
color: var(--sub-primary) !important;
}

.services-small-item:hover {
margin-top: -15px;
}

.services-small-item .icon {
width: 139px;
height: 113px;
margin: auto;
position: relative;
margin-bottom: 20px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}


.services-small-item .icon i {
display: block;
height: 67px;
line-height: 67px;
position: absolute;
width: 100%;
top: 22px;
z-index: 2;
font-size: 28px;
background-image: linear-gradient(135deg, #80d0c7 0%,#3B945E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item .services-title {
font-weight: 400;
font-size: 16px;
color: var(--primary-color);
letter-spacing: 0.7px;
margin-bottom: 15px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.services-small-item p {
font-weight: 400;
font-size: 14px;
color: var(--secondary-color);
letter-spacing: 0.88px;
line-height: 26px;
position: relative;
z-index: 2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
margin-bottom: 30px;
}

.services-small-item .button {
position: relative;
z-index: 2;
}

.services-small-item .button i {
width: 42px;
height: 42px;
background-image: linear-gradient(135deg, #80d0c7 0%, #3B945E 100%);
line-height: 42px;
text-align: center;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
color: #fff;
padding-left: 3px;
}

.services-small-item:hover + .item-bg {
bottom: 30px;
}

.item-bg {
content: '';
position: absolute;
width: 80%;
height: 15px;
bottom: 15px;
left: 0px;
right: 0px;
margin: auto;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index: 1;
background: #fff;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

/* Carousel section */



/* section 4 starts */
.section4 {
  background-position: right;
  top: 0px;
  background-repeat: no-repeat;
  padding: 20px 60px;
  position: relative;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.news-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.news-card:hover {
  transform: translateY(-10px);
}

.news-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-content {
  padding: 15px;
}

.news-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 14px;
}

.read-time {
  font-size: 12px;
  color: #6F8BA4;
}

.news-card h2 {
  margin: 10px 0;
  font-size: 18px;
  color: var(--secondary-color);
}

.topic {
  font-size: 14px;
  color: #007BFF;
  font-weight: 500;
  margin-bottom: 10px;
}

.description {
  color: #6F8BA4;
  
}
.newsletter {
  padding: 20px 60px;
}
.newsletter .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.newsletter .container .ico {
  width: 50%;
  height: 50%;
}
.newsletter .container .ico img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsletter .container .con {
  width: 40%;
}
.con h1 {
  color: var(--primary-color);
  font-weight: 600;
}
.con p {
  color: #6F8BA4;
  font-weight: 500;
}
.newsletterform form input {
  border: 1px solid #ddd;
  padding: 10px 16px;
  outline: none;
}
.newsletterform form input:focus {
  border: 1px solid #102a4e;
}
.newsletterform form button {
  padding: 11px 16px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: var(--secondary-color);
}
/* random image */


/*sub-sections */
.sub_section {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  background-color: #f9feff;
  align-items: center;
  justify-content: center;
}
.sub_section .container {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.sub_section .container .cat {
  background-color:  var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: transform .3s ease;
  width: 100%;
  margin-top: 20px; 
}
.sub_section .container .cat:hover{
    transform: translateY(-10px);
}


.sub_section .container .icon i  {
  font-size: 28px;
  margin-bottom: 10px;
}
.sub_section .container .cat h2 {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
.sub_section button {
  padding: 11px 16px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  margin-top: 20px;
  transition: background-color .3s ease;
}
.sub_section button:hover 
{
  background-color: var(--sub-primary);
}
/* Third section */

.section3 {
  padding: 20px;
}

#ourclients {
  overflow: hidden;
  position: relative;
}

.clients-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

#clientlogo {
  display: flex;
  width: calc(100% * 2); /* Twice the width of the container to enable continuous scroll */
  animation: scroll 20s linear infinite;
}

#clientlogo li {
  list-style: none;
  margin: 0 20px;
}

#clientlogo img {
  max-width: 120px;
  height: auto;
}

/* Keyframe animation to create scrolling effect */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.center-title {
  text-align: center;
  margin-bottom: 30px;
}


.discounts .container {
  display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tour-card {
  width: 100%;
  background: #fff;
 border: 1px solid #eee;
  margin-bottom: 20px;
  text-align: left;
  cursor: pointer;
  transition: all .3s ease;
}
.tour-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
}

.tour-img {
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.limited-offer {
  position: absolute;
  top: 10px;
  left: -2px;
  background: #fff;
  color: var(--secondary-color);
  padding: 5px 10px;
  font-size: 0.9em;
}
.like-btn {
  position: absolute;
  background-color: #fff;
  top: 10px;
  right: 10px;
  color: var(--secondary-color);
  font-size: 1.2em;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tour-info {
  padding: 20px;
}
.tour-info p {
  color: #6F8BA4;
}
.tour-info .price {
  color: var(--primary-color) !important;
  font-size: 1em !important;
  font-weight: 500 !important;
}
.tour-info h4 {
  margin: 10px 0;
}

.rating {
  color: gold;
  margin: 10px 0;
}

.hours-left {
  color: var(--secondary-color);
  font-size: 0.9;
  font-weight: 400;
}
.det {
  font-size: 0.9em;
  font-weight: 400;
  color: #6F8BA4;
}
.best-buy {
  color: var(--primary-color);
}
.other_dis {
  background-color: #f9feff;
  padding: 10px 60px;
}
.other_dis .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

 
}

.other_dis .container h2 {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 600;
}
.work {
  /* Additional styles for the work section can go here */
  padding: 20px 60px;
}

.work .container {
  display: flex;
  justify-content: space-between;
}

.work .container .text h1 {
  color: var(--primary-color);
}

.work .container .img_container2 {
  width: 100% !important;
  height: 60%;
  display: flex;
  align-items: flex-end; /* Align items to the start (top) of the container */
  justify-content: flex-end; /* Align items to the start (left) of the container */
  
}

.work .container .img_container2 img {
  width: 60%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 10px ;
  transition: transform 0.3s ease;
  margin-top: 20px;
}
.work .container  .img_container2 img:hover {
  transform: scale(1.1);
}
.work .container .text {
  width: 50%;
 
}
.work .container h1 {
  color: var(--secondary-color);
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 20px;
}
.work .container .text {
  color: var(--primary-color);
}
.work .container p {
  color: var(--primary-color);
}

.work .container .text ul li {
  list-style: none;
  margin-bottom: 20px;
}
.work .container .text ul li div {
  display: flex;
  align-items: center;
 
}
.work .container .text ul li div .sub_test {
  display: flex;
  flex-direction: column;
}
.work .container .text ul li div .sub_test h2 {
  font-size: 0.8em;
}
.work .container .text ul li div .sub_test p {
  font-size: 0.7em;
  color: #6F8BA4;
  text-align: center;
}
.work .container .text ul li div i {
  color: var(--secondary-color);
  font-size: 2.2em;
  margin-right: 20px;
  margin-top: -20px;
}

.faqs .container {
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid var(--secondary-color);
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none !important;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: var(--secondary-color);
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: var(--secondary-color);
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}


.membership {
 
}
.membership .container {
  display: flex;
  justify-content: space-between;
}
.membership .container .member_text {
  width: 60%;
}
.member_text h1 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2em;
}
.member_text p {
  color: #6F8BA4;
  font-size: 1em;
}

.nav_button {
 padding-right: 20px;
}
.nav_button button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);

  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  transition: background-color .3s ease;
}
.reg {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  margin-left: 10px;
}


.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 60px 0px 250px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--primary-color);
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 10px;
  color: #fff;
  background: var(--primary-color);
}


a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: var(--primary-color);
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: var(--sub-primary);
}

.new_footer_top .f_social_icon a:hover {
  background: var(--sub-primary);
  border-color: var(--sub-primary);
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 20px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.f_list li a i {
  margin-right: 5px;
}
.select_language select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  color: #6a7695;
  cursor: pointer;
}

.select_language select:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.select_language select option {
  background-color: #fff;
  color: #6a7695;
}
/*************footer End*****************/



.waste-hero {
  position: relative;
    background: url('../assets/smart-waste-management-solutions-solid-color-background_964851-81531.avif') no-repeat center center/cover;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
.waste-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1;
}


.waste-text-container {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: 0 auto;
}

.waste-text-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffff;
}

.waste-register-button {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}




.feature_container {
  display: block;
  position: relative;
  margin: 0;
  padding: 20px 60px;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  font-size: 8px;
  line-height: 14px;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased
}


.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@-webkit-keyframes fadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
@keyframes fadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}
#features {
  text-align: center
}
#features .features-title {
  display: inline-block;
  position: relative;
  color: #404040;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;

  letter-spacing: 3px;
  margin: 1em 0
}
#features .features-title::after {
  display: block;
  position: absolute;
  bottom: -.2em;
  left: 50%;
  margin-left: -40px;
  content: "";
  width: 80px;
  height: 3px;
  background-color: var(--primary-color);
}
#features .features-content {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  padding-bottom: 5em;
  margin-bottom: 5em;
  border-bottom: 2px solid #e5f7fb;
}
#features .features-content+.features-content {
  border: 0
}
#features .features-content-col {
  width: 50%;
  text-align: left
}
#features .features-textblock {
  display: none;
  position: relative
}
#features .features-textblock.__active {
  display: block
}
#features .features-textblock h1,
#features .features-textblock h2,
#features .features-textblock h3,
#features .features-textblock h4,
#features .features-textblock h5 {
  color: #404040;
  font-weight: 900;
  padding: 0;
  font-size: 1.5em
}
#features .features-textblock p {
  color: #404040;
 
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em
}
#features .features-textblock ul {
  margin: 0;
  padding: 0 2em;
  list-style: none
}
#features .features-textblock ul li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -5px;
  color: #404040;
  
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em;
  padding: 0.7em 0
}
#features .features-textblock ul li:before {
  display: inline-block;
  position: relative;
  top: -1px;
  left: -11px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--sub-primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%
}
#features .features-graph {
  height: 425px;
  margin: 25px
}
#features .features-graph .button-holder {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center
}
#features .features-graph .animation-holder {
  display: flex;
  justify-content: center;
  align-items: center
}
#features .features-graph .flash-oval {
  background-color: var(--sub-primary);
  width: 12em;
  height: 12em;
  border-radius: 7em;
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
  z-index: 100;
  margin: 10em auto 9em auto
}
#features .features-graph .flash-oval img {
  position: absolute;
  right: 32px;
  top: 23px;
}
#features .features-graph .btn-with-icon {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 1px solid var(--sub-secondary);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 5em;
  z-index: 0;
  cursor: pointer;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  opacity: 0.5;
  filter: alpha(opacity=50)
}
#features .features-graph .btn-with-icon.__active {
  opacity: 1;
  filter: alpha(opacity=100)
}
#features .features-graph .btn-with-icon:hover {
  opacity: 1
}
#features .features-graph .sq-bt-label {
  letter-spacing: 0;
  color: var(--secondary-color);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  text-transform: uppercase
}
#features .features-graph .label-top-left {
  right: 36%;
  top: 33%;
  font-size: 1.6em !important;
  color: var(--primary-color);
  font-weight: 500 !important;
}
#features .features-graph .label-top {
  right: 23%;
  top: 33%;
  font-size: 1.6em !important;
  color: var(--primary-color);
  font-weight: 500 !important;
}
#features .features-graph .label-top-right {
  right: 10%;
  top: 33%;
  font-size: 1.6em !important;
  color: var(--primary-color);
  font-weight: 500 !important;
}
#features .features-graph .label-bottom-left {
  right: 36%;
  bottom: 20%;
  font-size: 1.6em !important;
  color: var(--primary-color);
  font-weight: 500 !important;
}
#features .features-graph .label-bottom {
  right: 24%;
  bottom: 20%;
  font-size: 1.6em !important;
  color: var(--primary-color);
  font-weight: 500 !important;
}
#features .features-graph .label-bottom-right {
  right: 11.3%;
  bottom: 20%;
  font-size: 1.6em !important;
  color: var(--primary-color);
  font-weight: 500 !important;
}
#features .features-graph .icon-features-1:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top-left.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  top: 36.4%;
  left: 60%;
}
#features .features-graph .icon-features-2:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top.svg);
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  top: 36.4%
}
#features .features-graph .icon-features-3:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top-right.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  top: 36.4%;
  right: 16%
}
#features .features-graph .icon-features-4:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom-left.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 30%
}
#features .features-graph .icon-features-5:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom.svg);
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 27%
}
#features .features-graph .icon-features-6:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom-right.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 30%;
  right: 13%
}
#features .features-graph #top-left-line {
  position: absolute;
  top: 170px;
  left: 50px;
  z-index: -4
}
#features .features-graph .icon-features-1 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-1.svg);
  background-size: 150%;
  background-position: 50% 0
}
#features .features-graph .icon-features-2 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-2.svg);
  background-size: 70%;
  background-position: 50% 50%
}
#features .features-graph .icon-features-3 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-3.svg);
  background-size: 65%
}
#features .features-graph .icon-features-4 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-4.svg);
  background-size: 150%;
  background-position: 50% 0
}
#features .features-graph .icon-features-5 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-5.svg);
  background-size: 150%
}
#features .features-graph .icon-features-6 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-6.svg);
  background-size: 65%;
  background-position: 50% 50%
}
#features .features-graph .wave {
  position: absolute;
  opacity: 0;
  width: 12em;
  height: 12em;
  border: var(--sub-primary) 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  text-align: center;
  top: 0
}
#features .features-graph .wave2 {
  position: absolute;
  opacity: 0;
  width: 12em;
  height: 12em;
  border:  var(--sub-primary) 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple2;
  animation-name: ripple2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  top: 0;
  text-align: center
}
#features .features-graph .wave3 {
  position: absolute;
  opacity: 0;
  width: 12em;
  height: 12em;
  border:  var(--sub-primary) 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple3;
  animation-name: ripple3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  text-align: center;
  top: 0
}
#features .features-graph .wave4 {
  position: absolute;
  opacity: 0;
  width: 12em;
  height: 12em;
  border:  var(--sub-primary) 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple4;
  animation-name: ripple4;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  text-align: center;
  top: 0
}
@-webkit-keyframes ripple {
  from {
      opacity: 0.8
  }
  to {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0
  }
}
@keyframes ripple {
  from {
      opacity: 0.8
  }
  to {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0
  }
}
@-webkit-keyframes ripple2 {
  from {
      opacity: 0.7
  }
  to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0
  }
}
@keyframes ripple2 {
  from {
      opacity: 0.7
  }
  to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0
  }
}
@-webkit-keyframes ripple3 {
  from {
      opacity: 0.7
  }
  to {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0
  }
}
@keyframes ripple3 {
  from {
      opacity: 0.7
  }
  to {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0
  }
}
@-webkit-keyframes ripple4 {
  from {
      opacity: 0.6
  }
  to {
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
      opacity: 0
  }
}
@keyframes ripple4 {
  from {
      opacity: 0.4
  }
  to {
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
      opacity: 0
  }
}
#features .features-items {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0
}
#features .features-items li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: left;
  padding: 20px 50px 20px 20px
}

.hidden {display:none;}
.visible {display:block;}
#features .features-textblock h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}
#features .features-textblock p {
  color: #6F8BA4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em
}
#features .features-textblock ul {
  margin: 0;
  padding: 0 2em;
  list-style: none
}
#features .features-textblock ul li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -5px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7em;
  padding: 0.7em 0
}
#features .features-textblock ul li:before {
  display: inline-block;
  position: relative;
  top: -1px;
  left: -11px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--sub-primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%
}
#features .features-graph {
  height: 425px;
  margin: 25px
}
#features .features-graph .button-holder {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center
}
#features .features-graph .animation-holder {
  display: flex;
  justify-content: center;
  align-items: center
}
#features .features-graph .flash-oval {
  background-color:  var(--sub-primary);
  width: 12em;
  height: 12em;
  border-radius: 7em;
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
  z-index: 100;
  margin: 10em auto 9em auto
}
#features .features-graph .flash-oval img {
  position: absolute;
  right: 33px;
  top: 25px;
}

.title {
  text-align: center;
  margin-top: 40px;
}
.otherbtns {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.otherbtns button {
  background-color: var(--primary-color);
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


.how_it {
  width: 100%;
  min-height: 100vh;
  background-color: #f9feff;
  min-height: calc(100vh - var(--vh-offset, 0px));

  overflow-x: hidden;
  font-weight: 400;
  top: 0;
  color: #252525;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.025em;
}
.listar-map-button {
  width: 100%;
  position: absolute;
  display: table;
  right: 0;
  top: 0;
  height: 200px;
  line-height: 164px;
  white-space: nowrap;
  font-size: 0;
}

.listar-map-button {
  right: auto;
  /***
    box-shadow: 0 0 65px rgba(0,0,0,.07) inset, 0 0 35px rgba(0,0,0,.05) inset;**/
}

.listar-map-button-text span {
  background-color: #fff;
  color: #252525;
  text-shadow: none;
}

.listar-page-header-content .listar-map-button-text span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  height: 44px;
  line-height: 1.6;
  padding: 10px 25px;
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.65), 0 0 30px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  background-color: rgba(35, 40, 45, 0.9);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}


.listar-feature-item-wrapper {
  margin-bottom: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.listar-feature-item {
  height: calc(100% - 20px);
}

.listar-feature-item.listar-feature-has-link
  ~ .listar-feature-fix-bottom-padding.listar-fix-feature-arrow-button-height {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
}

.listar-feature-item a {
  position: absolute;
  top: -12px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% + 4px);
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-with-image .listar-feature-item a:before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 148px;
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-item a:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  z-index: 10;
  animation: ripple 0.7s linear infinite;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}


@keyframes ripple {
  0% {
        box-shadow: 0 0 0 0 rgba(163, 177, 198, 0.3), 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.01);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.03), 0 0 0 8em rgba(163, 177, 198, 0.01);
  }
}



.listar-feature-item .listar-feature-item-inner {
  padding: 50px 30px;
  border-radius: 6px;
  z-index: 5;
  position: relative;
  height: 100%;
}

.listar-feature-item .listar-feature-item-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.listar-feature-item .listar-feature-item-inner:before {
  border: 0;
  box-shadow: 120px 0px 150px rgba(80, 80, 80, 0.15),
    10px 0px 10px rgba(80, 80, 80, 0.02);
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1);
}

.listar-feature-item .listar-feature-item-inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.listar-feature-right-border {
  position: absolute;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  top: -12px;
  left: 50%;
  overflow: hidden;
}

.listar-feature-items {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.listar-feature-right-border:before,
.listar-hovering-features
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before {
  border: 11px solid #2f53bf;
}

.listar-feature-right-border:before,
.listar-hovering-features
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before,
.listar-hovering-features-grey
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 11px solid #258bd5;
  border-radius: 800px;
  left: -50%;
}

.listar-feature-item .listar-feature-block-content-wrapper {
  position: relative;
  display: block;
  text-decoration: none;
  margin: -30px;
  padding: 30px;
  height: calc(100% + 100px);
}

.listar-features-design-2 .listar-feature-item-wrapper {
  margin-bottom: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
  content: "";
  background-color: #fff;
  z-index: 6;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

.listar-feature-icon-wrapper {
  width: 148px;
  height: 148px;
  line-height: 148px;
  border-radius: 500px;
  position: relative;
  background-color: #fff;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.06);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 50%;
  vertical-align: middle;
  margin-left: -74px;
  top: -66px;
  margin-top: -74px;
}

.listar-feature-icon-inner {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 500px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
  background: #fff;
}

.listar-feature-icon-inner div {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: left;
}

.listar-feature-icon-inner img {
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  height: 55px;
}

.listar-feature-item img,
.listar-feature-item i {
  position: relative;
  display: inline-block;
  border-bottom: 0;
  font-size: 40px;
  top: 0;
  padding: 0;
  color: #258bd5;
}

.listar-feature-with-image .listar-feature-content-wrapper {
  top: 0;
}
.listar-feature-content-wrapper {
  position: relative;
  margin-top: -15.5px;
}

.listar-feature-item .listar-feature-item-title {
  padding-top: 0;
  margin: 0 0 30px;
  text-align: center;
  line-height: 1.5;
}

.listar-feature-item
  .listar-feature-item-title.listar-feature-counter-added
  > span {
  margin-left: 25px;
  border-radius: 0 50px 50px 0;
}

.listar-feature-item .listar-feature-item-title > span {
  box-shadow: 15px 20px 30px rgba(80, 80, 80, 0.12),
    5px 0px 40px rgba(80, 80, 80, 0.1);
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.listar-feature-item .listar-feature-item-title > span span {
  box-shadow: 15px 15px 30px rgba(80, 80, 80, 0.2),
    5px 0px 80px rgba(80, 80, 80, 0.15);
  padding: 10px 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 30px;
  white-space: nowrap;
  position: absolute;
  top: -3px;
  left: -40px;
  border-radius: 50px;
  background-color: #fff;
}

.listar-feature-item .listar-feature-item-title span {
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-shadow: none;
  border-radius: 50px;
  color: #252525;
  font-size: 18px;
}

.listar-feature-item-excerpt {
  padding: 0 20px;
}

.listar-feature-item-excerpt {
  color: #252525;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pset {
  padding-top: 180px;
  padding-bottom: 80px;
}

.listar-map-button-text span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  height: 44px;
  line-height: 1.6;
  padding: 10px 25px;
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  background-color: rgba(35, 40, 45, 0.9);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span {
  background-color: #fff;
  color: #252525;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.listar-map-button-text span:after {
  border: 12px solid #fff;
}

.listar-map-button-text span:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 36px;
}

.listar-map-button:hover .listar-map-button-text span {
  padding: 10px 43px 10px 51px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.listar-feature-with-image .listar-feature-item a:before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 148px;
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 40px rgba(80, 80, 80, 0.15),
    15px 15px 30px rgba(80, 80, 80, 0.05), 0 0 120px rgba(80, 80, 80, 0.6);
  bottom: -30px;
  background-image: url("https://image.flaticon.com/icons/svg/2316/2316674.svg");
  background-size: 40%;
  color: #555;
  line-height: 52px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  align-self: flex-start;
}


.waste-hero2 {
  background: url('../assets/waste-pcikup.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 20px 80px;
}
.info {
  padding: 20px 60px;
  background-color: #f9feff;
}

.info .container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: #ffff;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  border-left: 6px solid var(--primary-color);
}
.info .container p {
  color: var(--secondary-color);
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 15px;
}

/* About Section Styles */
.about-section {
  padding: 50px 0;
  background-color: #fff;
}

.about-content {
  text-align: justify;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-content p {
  margin-bottom: 15px;
  color: #6F8BA4;
}

.about-content ul {
  list-style-type: disc;
  margin-left: 40px;
}
.about-content ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--primary-color);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #f9feff;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  max-width: 450px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: var(--secondary-color);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #eee;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: var(--secondary-color);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #eee;
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: var(--secondary-color);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solid #355891;
  border-radius: 0px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #355891;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #355891;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: #355891;
  background: #5f82a9;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #355891;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.waste-hero5 {
  background: url('../assets/waste--bg.jpg');
}