.section {
    text-align: center;
    background: url("/app/static/assets/team banner.png");
    background-size: contain;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    min-height: 100vh;
    background-repeat: no-repeat; /* Prevent duplication of the image */
    background-size: 100% 60%; /* Set the height to be shorter */
    background-position: center 40%; /* Adjust the vertical position as needed */
}

.h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}