body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.hero {
    height: 60vh;
    padding: 20px 80px;
    background: #7e59d4;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .hero .text_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
  }
  .hero .text_container h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .hero .text_container a {
    padding: 10px 20px;
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
  }
  .hero .text_container a:hover {
    background-color: #f9feff;
  }
  a {
    text-decoration: none !important;
  }

.text {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  .center {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }

  .card {
    background: #f9feff;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:rgba(100, 100, 111, 0.) 0px 7px 29px 0px;
    transition: all .3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-15px);
  }

  .card_container:hover > :not(:hover) {
    opacity: 0.5;
  }