body {
    font-family: "Source Sans Pro";
    font-style: normal;
    overflow-x:hidden; 
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -8px;
  }

.faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .faq-section h1 {
    text-align: center;
  }

.faq-section h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
  }

.faq-list {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 80px;

  }



  .faq-item {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    padding: 5%;
    background: #f7f7f8;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:rgba(100, 100, 111, 0.) 0px 7px 29px 0px;
    transition: all .3s ease-in-out;
  }

  .section {
    text-align: center;
    background: url("/app/static/assets/services\ banner.png");
    background-size: contain;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat; /* Prevent duplication of the image */
    background-size: 100% 60%; /* Set the height to be shorter */
    background-position: top 40%; /* Adjust the vertical position as needed */
}

.h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
}

.buton {
  background-color: #a055f5; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
  transition: background-color 0.3s, transform 0.3s; 
}