body {
    font-family: "Source Sans Pro";
    font-style: normal;
    overflow-x:hidden; 
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -8px;
  }

.faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .faq-section h1 {
    text-align: center;
  }

.faq-section h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
  }

.faq-list {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .faq-item {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    padding: 5%;
  }

  .section {
    text-align: center;
    background: url("/app/static/assets/services\ banner.png");
    background-size: contain;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat; /* Prevent duplication of the image */
    background-size: 100% 60%; /* Set the height to be shorter */
    background-position: top 40%; /* Adjust the vertical position as needed */
}

.h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
}