body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #10439f, #874ccc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  background-color:rgba(17, 24, 39, 1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 450px;
  text-align: center;
  box-sizing: border-box; 
  margin-bottom: 40px; 
}

h2 {
  margin-bottom: 20px;
  color:aliceblue;
}

.name-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
label{
  color:aliceblue;
}

.name-group .form-group {
  flex: 1;
  margin-right: 10px;
}

.name-group .form-group:last-child {
  margin-right: 0;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.options {
  margin-top: 20px;
}

.options a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.options a:hover {
  text-decoration: underline;
}

footer {
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
