<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Courses</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/course.css')}}"> 

</head>
<body>
    <header class="header">
        <div class="header-content responsive-wrapper">
            <div class="header-logo">
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;"><h1>LINGO<span>SMART</span></h1></a>

            </div>
            <div class="header-navigation">
                <nav class="header-navigation-links">
                    <a href="{{url_for('dashboard')}}"> Home </a>
                    <a href="{{url_for('courses')}}">Courses</a>
                    <a href="{{url_for('resourses')}}">Resources</a>
                    <a href="{{url_for('setting')}}" class="active">Settings</a>
                </nav>
                <div class="header-navigation-actions">
                    <a href="setting.html" class="button">
                        <i class="ph-lightning-bold"></i>
                        <span>User Profile</span>
                    </a>
                    <a href="#" class="avatar">
                        <img src="/app/static/assets/profile.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="info"> 
        
        <div class="sidebar">
            <div class="vertical-tabs">
                <a href="{{url_for('dashboard')}}">Dashboard</a>
                <a href="{{url_for('kinyarwanda')}}"> Kinyarwanda </a>
                <a href="{{url_for('english')}}"> English </a>
                <a href="{{url_for('swahili')}}"> Swahili </a>
                <a href="{{url_for('french')}}"> French </a>
                <a href="{{url_for('resourses')}}"> Dictionary </a>
                <a href="{{url_for('logout')}}"><button class="Btn">

                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                    
                    <div class="text">Logout</div>
                </button>
                
                
                </a>
            </div>        
        </div>
        <div class="container">    
            <main class="main">
                <div class="responsive-wrapper">
                    <div class="main-header">
                        <h1>Courses</h1>
                        <p>Welcome to our different language courses.
                        Click on the language to start learning.</p>
                        </p>
                    </div>
                    <div class="content">
                        <div class="content-panel">
                        </div>
                        <div class="content-main">
                            <div class="card-grid">
                                <article class="card">
                                    <div class="card-header">
                                        <div>
                                            <span><img src="{{url_for('static',filename='assets/Rwandan-Flag.gif')}}" /></span>
                                            <h3>Kinyarwanda</h3>
                                        </div>
                                        <label class="toggle">
                                            <input type="checkbox" checked>
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <p>Learn the Kinyarwanda language with our courses.</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{url_for('kinyarwanda')}}">Start Learning</a>
                                    </div>
                                </article>
                                <article class="card">
                                    <div class="card-header">
                                        <div>
                                            <span><img src="{{url_for('static',filename='assets/English_language.png')}}" /></span>
                                            <h3>English</h3>
                                        </div>
                                        <label class="toggle">
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <p>Explore our English language courses.</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{url_for('english')}}">Start Learning</a>
                                    </div>
                                </article>
                                <article class="card">
                                    <div class="card-header">
                                        <div>
                                            <span><img src="{{url_for('static',filename='assets/tanzania_flag.jpg')}}" /></span>
                                            <h3>Swahili</h3>
                                        </div>
                                        <label class="toggle">
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <p>Discover Swahili through our comprehensive courses.</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{url_for('swahili')}}">Start Learning</a>
                                    </div>
                                </article>
                                <article class="card">
                                    <div class="card-header">
                                        <div>
                                            <span><img src="{{url_for('static',filename='assets/french.jpg')}}" /></span>
                                            <h3>French</h3>
                                        </div>
                                        <label class="toggle">
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <p>Master French with our engaging courses.</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{url_for('french')}}">Start Learning</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
