<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lingo English</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/each_course.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
      integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/countup.js@2.0.7/dist/countUp.umd.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header-content responsive-wrapper">
        <div class="header-logo">
          <a href="{{url_for('dashboard')}}" style="text-decoration: none"
            ><h1>LINGO<span>SMART</span></h1></a
          >
        </div>
        <div class="header-navigation">
          <nav class="header-navigation-links">
            <a href="{{url_for('dashboard')}}"> Home </a>
            <a href="{{url_for('courses')}}">Courses</a>
            <a href="{{url_for('resourses')}}">Resources</a>
            <a href="{{url_for('setting')}}" class="active">Settings</a>
          </nav>
          <div class="header-navigation-actions">
            <a href="{{url_for('setting')}}" class="button">
              <i class="ph-lightning-bold"></i>
              <span>User Profile</span>
            </a>
            <a href="{{url_for('setting')}}" class="avatar">
              <img
                src="{{url_for('static',filename='assets/profile.jpg')}}"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="info">
      <div class="sidebar">
        <div class="vertical-tabs">
          <a href="{{url_for('dashboard')}}">Dashboard</a>
          <a href="{{url_for('kinyarwanda')}}"> Kinyarwanda </a>
          <a href="{{url_for('english')}}"> English </a>
          <a href="{{url_for('swahili')}}"> Swahili </a>
          <a href="{{url_for('french')}}"> French </a>
          <a href="{{url_for('resourses')}}"> Dictionary </a>
          <a href="{{url_for('logout')}}"
            ><button class="Btn">
              <div class="sign">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                  ></path>
                </svg>
              </div>

              <div class="text">Logout</div>
            </button>
          </a>
        </div>
      </div>

      <div class="container">
        <main class="main">
          <div class="responsive-wrapper">
            <div class="main-header">
              <h1>Learn English</h1>
              <img src="{{url_for('static',filename='assets/english.png')}}" />
            </div>
            <p>
              Being the language of science, diplomacy, tourism, IT, the media
              industry, English bridges nations all over the world and
              contributes to progress. This is evidence of its lingua franca
              status. Do you want to travel anywhere in the world? English is
              here for you! English is one of the most widely spoken languages
              in the world. It is the official language in 55 countries, which
              include primarily the USA, the UK, Australia, and New Zealand. In
              27 territories, English has the official status of the language
              used mainly for interactions with the government officials. This
              refers to Hong Kong, the Isle of Man, Puerto Rico, among many.
              Being a lingua franca language, it is spoken all over the world on
              almost all continents. It is spoken in European countries, in
              India, Pakistan, the Philippines, Nigeria, and others. English is
              the third most-spoken native language (after Chinese and Spanish)
              in the world. If we speak about native speakers, there are 360-400
              million people worldwide. As for the number of people who learn
              English as a second language, this is about 750 million
              individuals, and 600 million learn it as a foreign language.
            </p>
            <div class="main-header">
              <h1>Peculiar Features</h1>
              <p>
                The English alphabet consists of 26 letters and 40 distinct
                sounds. The 27th letter used to be ‘&’ and known as ampersand,
                but it was reduced within time and is used nowadays in the
                official speech to denote the part of the formal company or the
                collaboration of two writers/authors. There are 12 tenses in the
                English language, 3 of them are the main (past, present, future)
                and each of them in their turn is divided into 4 aspects
                (simple, progressive, perfect, perfect progressive). To use them
                correctly, you need much practice. The common sentence structure
                is Subject-Verb-Object. English spelling is not easy, as the
                language contains three-quarter words adopted from Latin, Greek,
                and French languages: mouse-mice, criterion-criteria, ox-oxen,
                etc. For the reason of influence of other languages, the words
                in English are pronounced in a different way than written or are
                written not the way they are pronounced: enough, beautiful,
                debt, sell-cell.
              </p>
            </div>
            <div class="main-header">
              <h1>Learn English Online</h1>
              <p>
                Whether you want to learn English as a second language (ESL) or
                need to improve your vocabulary and language skills as a native
                speaker, you have come to the right place. This website is your
                ultimate destination to learn English in a way that's enjoyable
                yet extremely effective. To learn English fast, you should
                combine a variety of learning styles and different approaches,
                such as vocabulary expansion, listening comprehension and audio
                training, reading and grammar exercises to ensure that you are
                proficient in advanced structures of English grammar, including
                sequence of tenses, the gerund, and more.All these are here!
              </p>
            </div>
            <div class="main-header">
              <h1>
                <a href="{{url_for('english_resource')}}">
                  <button class="btn btn-primary">
                    Click to learn English
                  </button>
                </a>
              </h1>
            </div>
          </div>
        </main>
      </div>
    </div>

    <div class="footer">
      <footer>
        <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
