<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingo English</title>
    <link rel="stylesheet" href="/app/static/css/each_course.css"> 

</head>
<body>
    <header class="header">
        <div class="header-content responsive-wrapper">
            <div class="header-logo">
                <a href="dashboard.html" style="text-decoration: none;"><h1>LINGO<span>SMART</span></h1></a>
            </div>
            <div class="header-navigation">
                <nav class="header-navigation-links">
                    <a href="dashboard.html"> Home </a>
                    <a href="course.html">Courses</a>
                    <a href="dictionary.html">Resources</a>
                    <a href="setting.html" class="active">Settings</a>
                </nav>
                <div class="header-navigation-actions">
                    <a href="setting.html" class="button">
                        <i class="ph-lightning-bold"></i>
                        <span>User Profile</span>
                    </a>
                    <a href="#" class="avatar">
                        <img src="/app/static/assets/profile.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="info"> 
        
        <div class="sidebar">
            <div class="vertical-tabs">
                <a href="dashboard.html">Dashboard</a>
                <a href="kinyarwanda.html"> Kinyarwanda </a>
                <a href="english.html"> English </a>
                <a href="swahili.html"> Swahili </a>
                <a href="french.html"> French </a>
                <a href="resources.html"> Dictionary</a>
                <a href="login.html"><button class="Btn">

                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                    
                    <div class="text">Logout</div>
                </button>
                
                
                </a>
            </div>        
        </div>



        <div class="container">    
            <main class="main">
                <div class="responsive-wrapper">
                    <div class="main-header">
                        <h1>English phrases</h1>
                    </div>
                    <p>Today, let's unwind as we boost our vocabulary and learn English with idiomatic expressions and phrases that often leave non-native speakers confused. Here our top 10 favorite English idiomatic expressions, their meanings and examples of how to use these idiomatic expressions.</p>
                    <table>
                        <tr>
                            <th>Phrase</th>
                            <th>Meaning</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>Eat, sleep and breathe something</td>
                            <td>To be very passionate about something that you think about it all the time.</td>
                            <td>My daughter is into music. She eats, sleeps and breathes r'n'b.</td>
                        </tr>
                        <tr>
                            <td>Blood, sweat and tears</td>
                            <td>Something that requires a lot of effort and hard work</td>
                            <td>His career isn't based on luck; he worked his way to the top with his blood, sweat and tears.</td>
                        </tr>
                        <tr>
                            <td>Raring to go</td>
                            <td>To be extremely eager to do something</td>
                            <td>My son loves football. He's raring to watch the next game.</td>
                        </tr>
                        <tr>
                            <td>Hang on by fingernails</td>
                            <td>To continue to do something in a very difficult situation.</td>
                            <td>The situation remains critical after the earthquake as the survivors are handing on by their fingernails waiting to be rescued.</td>
                        </tr>
                        <tr>
                            <td>First out of the gate</td>
                            <td>To be the first one to make a start at something.</td>
                            <td>I was the first one to be out of the gate when I started driving to school.</td>
                        </tr>
                        <tr>
                            <td>Have one's heart set on</td>
                            <td>To possess a determination to obtain something.</td>
                            <td>I've had my heart set on getting into Harvard for years.</td>
                        </tr>
                        <tr>
                            <td>Punch above one's weight</td>
                            <td>Perform beyond your ability.</td>
                            <td>He was punching above his weight when he volunteered for this project since it was too complicated for him.</td>
                        </tr>
                        <tr>
                            <td>Sink your teeth into</td>
                            <td>To do something with a lot of energy and enthusiasm.</td>
                            <td>As Jennifer started practicing yoga, she sank her teeth into her practice.</td>
                        </tr>
                        <tr>
                            <td>Cut to the quick</td>
                            <td>To hurt someone deeply, to offend them.</td>
                            <td>Charles was cut to the quick when he was accused of stealing from his family.</td>
                        </tr>
                        <tr>
                            <td>Bee in one's bonnet</td>
                            <td>To carry an idea which constantly occupies your thoughts.</td>
                            <td>She has a bee in her bonnet about finding a job in fashion industry.</td>
                        </tr>
                    </table>
                    
                    <img src="/app/static/assets/100 Fruits And Vegetables Name In English ( July 2024).jpeg"/>
                    <div class="main-header">
                        <h1> Vegetables in English</h1>
                    </div>
                    <img src="/app/static/assets/vegetables.jpg" />
                    <img src="/app/static/assets/food.jpg" />
                    <div class="main-header">
                        <h1>English Dictionary</h1>
                    </div>
                    <p>There are a lot of English dictionaries on the Internet. We choose the best one for you! Use the English dictionary below to turn your language learning process into something interesting and exciting.Try it right now!</p>
                    <a href="https://translate.google.com/?sl=auto&tl=en&op=translate"><img src="/app/static/assets/google.png" class="dictionary"/>Google translate</a>
                    
                    <div class="main-header">
                        <h1>Other Resources</h1>
                    </div>
                    <p>Youtube is one of the best online learning platforms.There are a thousand channels for language learning which are also tailored to enable beginners to grasp different words. We choose the best one for you! Use the Youtube channel below to turn your language learning process into something interesting and exciting.Try it right now!</p>
                    <a href="https://www.youtube.com/@DailyEnglishConversation/videos"><img src="/app/static/assets/youtube.png" class="dictionary"/>Youtube</a>

                </div>
            </main>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
