<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingo French</title>
    <link rel="stylesheet" href="/app/static/css/each_course.css"> 

</head>
<body>
    <header class="header">
        <div class="header-content responsive-wrapper">
            <div class="header-logo">
                <a href="dashboard.html" style="text-decoration: none;"><h1>LINGO<span>SMART</span></h1></a>
            </div>
            <div class="header-navigation">
                <nav class="header-navigation-links">
                    <a href="dashboard.html"> Home </a>
                    <a href="course.html">Courses</a>
                    <a href="resources.html">Resources</a>
                    <a href="setting.html" class="active">Settings</a>
                </nav>
                <div class="header-navigation-actions">
                    <a href="setting.html" class="button">
                        <i class="ph-lightning-bold"></i>
                        <span>User Profile</span>
                    </a>
                    <a href="setting.html" class="avatar">
                        <img src="/app/static/assets/profile.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="info"> 
        
        <div class="sidebar">
            <div class="vertical-tabs">
                <a href="dashboard.html">Dashboard</a>
                <a href="kinyarwanda.html"> Kinyarwanda </a>
                <a href="english.html"> English </a>
                <a href="swahili.html"> Swahili </a>
                <a href="french.html"> French </a>
                <a href="resources.html"> Dictionary</a>
                <a href="login.html"><button class="Btn">

                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                    
                    <div class="text">Logout</div>
                </button>
                
                
                </a>
            </div>        
        </div>



        <div class="container">    
            <main class="main">
                <div class="responsive-wrapper">
                    <div class="main-header">
                        <h1>French phrases</h1>
                    </div>
                    <p>These common French phrases will help you sound more like a native speaker.</p>
                    <table>
                        <tr>
                            <th>English</th>
                            <th>French</th>
                        </tr>
                        <tr>
                            <td>Good morning</td>
                            <td>Bonjour</td>
                        </tr>
                        <tr>
                            <td>Good afternoon</td>
                            <td>Bon après-midi.</td>
                        </tr>
                        <tr>
                            <td>Good evening. (greeting)</td>
                            <td>Bonsoir.</td>
                        </tr>
                        <tr>
                            <td>Hello, my name is John.</td>
                            <td>Bonjour, je m'appelle Jean.</td>
                        </tr>
                        <tr>
                            <td>What is your name?</td>
                            <td>Comment tu t'appelles?</td>
                        </tr>
                        <tr>
                            <td>How are things?</td>
                            <td>Quoi de nouveau?</td>
                        </tr>
                        <tr>
                            <td>Fine, thanks.</td>
                            <td>Très bien, merci.</td>
                        </tr>
                        <tr>
                            <td>How are you?</td>
                            <td>Comment vas-tu?</td>
                        </tr>
                        <tr>
                            <td>I am fine.</td>
                            <td>Je vais bien.</td>
                        </tr>
                        <tr>
                            <td>Nice to meet you.</td>
                            <td>Enchanté.</td>
                        </tr>
                        <tr>
                            <td>Goodbye.</td>
                            <td>Au revoir.</td>
                        </tr>
                        <tr>
                            <td>See you later</td>
                            <td>A bientôt.</td>
                        </tr>
                        <tr>
                            <td>I love you (care for you)</td>
                            <td>Je t'apprécie vraiment.</td>
                        </tr>
                        <tr>
                            <td>I love you (more serious)</td>
                            <td>Je t'aime.</td>
                        </tr>
                        <tr>
                            <td>Do you love me? (care for me?)</td>
                            <td>M'apprécies-tu?</td>
                        </tr>
                        <tr>
                            <td>Do you love me? (more serious)</td>
                            <td>Est-ce que tu m'aimes?</td>
                        </tr>
                        <tr>
                            <td>I (female) am in love</td>
                            <td>Je suis amoureuse.</td>
                        </tr>
                        <tr>
                            <td>I (male) am in love</td>
                            <td>Je suis amoureux.</td>
                        </tr>
                        <tr>
                            <td>You are beautiful (male)</td>
                            <td>Tu es beau.</td>
                        </tr>
                        <tr>
                            <td>You are beautiful (female)</td>
                            <td>Tu es belle.</td>
                        </tr>
                        <tr>
                            <td>You are handsome (male)</td>
                            <td>Tu es élégant.</td>
                        </tr>
                        <tr>
                            <td>You are handsome (female)</td>
                            <td>Tu es élégante.</td>
                        </tr>
                        <tr>
                            <td>I am passionate about you</td>
                            <td>Tu me fascines.</td>
                        </tr>
                        <tr>
                            <td>You make me happy (male)</td>
                            <td>Tu me rends heureux.</td>
                        </tr>
                        <tr>
                            <td>You make me happy (female)</td>
                            <td>Tu me rends heureuse.</td>
                        </tr>
                        <tr>
                            <td>Will you marry me?</td>
                            <td>Veux-tu m'épouser?</td>
                        </tr>
                        <tr>
                            <td>She's my fiancé</td>
                            <td>Elle est ma fiancée.</td>
                        </tr>
                        <tr>
                            <td>He's my fiancé</td>
                            <td>Il est mon fiancée.</td>
                        </tr>
                        <tr>
                            <td>You are the love of my life.</td>
                            <td>Tu es l'amour de ma vie.</td>
                        </tr>
                        <tr>
                            <td>I adore you</td>
                            <td>Je t'adore</td>
                        </tr>
                        <tr>
                            <td>I miss you</td>
                            <td>Tu me manques.</td>
                        </tr>
                        <tr>
                            <td>Would you like to be my boyfriend?</td>
                            <td>Veux-tu être mon petit-ami?</td>
                        </tr>
                        <tr>
                            <td>Would you like to be my girlfriend?</td>
                            <td>Veux-tu être ma petite-amie?</td>
                        </tr>
                        <tr>
                            <td>I want to be with you forever.</td>
                            <td>Je veux être avec toi pour toujours.</td>
                        </tr>
                        <tr>
                            <td>I need you</td>
                            <td>J'ai besoin de toi.</td>
                        </tr>
                        <tr>
                            <td>I always think about you</td>
                            <td>Je pense toujours à toi</td>
                        </tr>
                        <tr>
                            <td>I like you</td>
                            <td>Je t'aime bien.</td>
                        </tr>
                        <tr>
                            <td>Kiss me</td>
                            <td>Embrasses-moi.</td>
                        </tr>
                        <tr>
                            <td>Hug me</td>
                            <td>Serres-moi.</td>
                        </tr>

                    </table>
                    <div class="main-header">
                        <h1>Animals in French</h1>
                    </div>

                   <p>Can't save the world yet? At least you can learn animals in French.</p>
                   <table>
                    <tr>
                        <th>English</th>
                        <th>French</th>
                    </tr>
                    <tr>
                        <td>the animals</td>
                        <td>les animaux</td>
                    </tr>
                    <tr>
                        <td>the cat</td>
                        <td>le chat</td>
                    </tr>
                    <tr>
                        <td>the dog</td>
                        <td>le chien</td>
                    </tr>
                    <tr>
                        <td>the chimpanzee</td>
                        <td>le chimpanzé</td>
                    </tr>
                    <tr>
                        <td>the deer</td>
                        <td>le cerf</td>
                    </tr>
                    <tr>
                        <td>the elephant</td>
                        <td>l'éléphant</td>
                    </tr>
                    <tr>
                        <td>the fish</td>
                        <td>le poisson</td>
                    </tr>
                    <tr>
                        <td>the fox</td>
                        <td>le renard</td>
                    </tr>
                    <tr>
                        <td>the goat</td>
                        <td>la chèvre</td>
                    </tr>
                    <tr>
                        <td>the gorilla</td>
                        <td>le gorille</td>
                    </tr>
                    <tr>
                        <td>the hippopotamus</td>
                        <td>l'hippopotame</td>
                    </tr>
                    <tr>
                        <td>the horse</td>
                        <td>le cheval</td>
                    </tr>
                    <tr>
                        <td>the hyena</td>
                        <td>l'hyère</td>
                    </tr>
                    <tr>
                        <td>the kangaroo</td>
                        <td>le kangourou</td>
                    </tr>
                    <tr>
                        <td>the kitten</td>
                        <td>le chaton</td>
                    </tr>
                    <tr>
                        <td>the leopard</td>
                        <td>le leopard</td>
                    </tr>
                    <tr>
                        <td>the monkey</td>
                        <td>le singe</td>
                    </tr>
                    <tr>
                        <td>the mouse</td>
                        <td>la souris</td>
                    </tr>
                    <tr>
                        <td>the panda</td>
                        <td>le panda</td>
                    </tr>
                    <tr>
                        <td>the penguin</td>
                        <td>le manchot</td>
                    </tr>
                    <tr>
                        <td>the pet</td>
                        <td>l'animal domestique</td>
                    </tr>
                    <tr>
                        <td>the puppy</td>
                        <td>le chiot</td>
                    </tr>
                    <tr>
                        <td>the rabbit</td>
                        <td>le lapin</td>
                    </tr>
                    <tr>
                        <td>the rat</td>
                        <td>le rat</td>
                    </tr>
                    <tr>
                        <td>the rhino</td>
                        <td>le rhinocéros</td>
                    </tr>
                    <tr>
                        <td>the sheep</td>
                        <td>le mouton</td>
                    </tr>
                    <tr>
                        <td>the squirrel</td>
                        <td>l'écureuil</td>
                    </tr>
                    <tr>
                        <td>the tiger</td>
                        <td>le tigre</td>
                    </tr>
                    <tr>
                        <td>the whale</td>
                        <td>la baleine</td>
                    </tr>
                    <tr>
                        <td>the wolf</td>
                        <td>le loup</td>
                    </tr>
                    <tr>
                        <td>the zebra</td>
                        <td>le zèbre</td>
                    </tr>
                   </table>

                    <div class="main-header">
                        <h1>Colors in French</h1>
                    </div>
                    <p>Seeing colors might help you save the world. You should probably learn them in French then. </p>
                    <table>
                        <tr>
                            <th>English</th>
                            <th>French</th>
                        </tr>
                        <tr>
                            <td>black</td>
                            <td>noir</td>
                        </tr>
                        <tr>
                            <td>blue</td>
                            <td>bleu</td>
                        </tr>
                        <tr>
                            <td>brown</td>
                            <td>marron</td>
                        </tr>
                        <tr>
                            <td>green</td>
                            <td>vert</td>
                        </tr>
                        <tr>
                            <td>orange</td>
                            <td>orange</td>
                        </tr>
                        <tr>
                            <td>pink</td>
                            <td>rose</td>
                        </tr>
                        <tr>
                            <td>purple</td>
                            <td>pourpre</td>
                        </tr>
                        <tr>
                            <td>red</td>
                            <td>rouge</td>
                        </tr>
                        <tr>
                            <td>violet</td>
                            <td>violet</td>
                        </tr>
                        <tr>
                            <td>white</td>
                            <td>blanc</td>
                        </tr>
                        <tr>
                            <td>yellow</td>
                            <td>jaune</td>
                        </tr>

                    </table>
                    <div class="main-header">
                        <h1>French Dictionary</h1>
                    </div>
                    <p>There are a lot of French dictionaries on the Internet. We choose the best one for you! Use the English dictionary below to turn your language learning process into something interesting and exciting.Try it right now!</p>
                    <a href="https://translate.google.com/?sl=auto&tl=en&op=translate"><img src="/app/static/assets/google.png" class="dictionary"/>Google translate</a>
                
                    <div class="main-header">
                        <h1>Other Resources</h1>
                    </div>
                    <p>Youtube is one of the best online learning platforms.There are a thousand channels for language learning which are also tailored to enable beginners to grasp different words. We choose the best one for you! Use the Youtube channel below to turn your language learning process into something interesting and exciting.Try it right now!</p>
                    <a href="https://www.youtube.com/@learnfrenchwithalexa/videos"><img src="/app/static/assets/youtube.png" class="dictionary"/>Youtube</a>

                </div>
            </main>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
