<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/each_course.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/course.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/setting.css')}}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-content responsive-wrapper">
        <div class="header-logo">
          <a href="dashboard.html" style="text-decoration: none"
            ><h1>LINGO<span>SMART</span></h1></a
          >
        </div>
        <div class="header-navigation">
          <nav class="header-navigation-links">
            <a href="{{url_for('home')}}"> Home </a>
            <a href="#">Courses</a>
            <a href="#">Resources</a>
            <a href="{{url_for('setting')}}" class="active">Settings</a>
          </nav>
          <div class="header-navigation-actions">
            <a href="{{url_for('setting')}}" class="button">
              <i class="ph-lightning-bold"></i>
              <span>User Profile</span>
            </a>
            <a href="{{url_for('setting')}}" class="avatar">
              <img
                src="{{url_for('static',filename='assets/profile.jpg')}}"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="info">
      <div class="sidebar">
        <div class="vertical-tabs">
          <a href="{{url_for('dashboard')}}">Dashboard</a>
          <a href="{{url_for('kinyarwanda')}}"> Kinyarwanda </a>
          <a href="{{url_for('english')}}"> English </a>
          <a href="{{url_for('swahili')}}"> Swahili </a>
          <a href="{{url_for('french')}}"> French </a>
          <a href="{{url_for('resourses')}}"> Dictionary </a>
          <a href="{{url_for('logout')}}">
            <button class="Btn">
              <div class="sign">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                  ></path>
                </svg>
              </div>
              <div class="text">Logout</div>
            </button>
          </a>
        </div>
      </div>

      <div class="container">
        <main class="main">
          <div class="responsive-wrapper">
            <div class="row">
              <div class="col-md-5 col-xl-4">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title mb-0">Profile Settings</h5>
                  </div>
                  <div class="list-group list-group-flush" role="tablist">
                    <a
                      class="list-group-item list-group-item-action active"
                      data-toggle="list"
                      href="#account"
                      role="tab"
                      >Account</a
                    >
                    <a
                      class="list-group-item list-group-item-action"
                      data-toggle="list"
                      href="#password"
                      role="tab"
                      >Password</a
                    >
                    <a
                      class="list-group-item list-group-item-action"
                      data-toggle="list"
                      href="#delete"
                      role="tab"
                      >Delete account</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-xl-8">
                <div class="tab-content">
                  <div
                    class="tab-pane fade active show"
                    id="account"
                    role="tabpanel"
                  >
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title mb-0">Private info</h5>
                      </div>
                      <div class="card-body">
                        <form action="" , method="POST">
                          {{form.hidden_tag()}}

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputFirstName">First name</label>
                              {{form.first_name(id="first_name",
                              class="form-control")}}
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputLastName">Last name</label>
                              {{form.last_name(id="last_name",
                              class="form-control")}}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail4">Email</label>
                            {{form.email(id="email", class="form-control")}}
                          </div>
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input
                              type="text"
                              class="form-control"
                              id="inputAddress"
                              placeholder="1234 Main St"
                            />
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input
                              type="text"
                              class="form-control"
                              id="inputAddress2"
                              placeholder="Apartment, studio, or floor"
                            />
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input
                                type="text"
                                class="form-control"
                                id="inputCity"
                              />
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputState">State</label>
                              <select id="inputState" class="form-control">
                                <option selected="">Choose...</option>
                                <option>Kigali</option>
                                <option>Other</option>
                              </select>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputZip">Zip</label>
                              <input
                                type="text"
                                class="form-control"
                                id="inputZip"
                              />
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">
                            Save changes
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="password" role="tabpanel">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Password</h5>
                        <form>
                          <div class="form-group">
                            <label for="inputPasswordCurrent"
                              >Current password</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="inputPasswordCurrent"
                            />
                            <small><a href="#">Forgot your password?</a></small>
                          </div>
                          <div class="form-group">
                            <label for="inputPasswordNew">New password</label>
                            <input
                              type="password"
                              class="form-control"
                              id="inputPasswordNew"
                            />
                          </div>
                          <div class="form-group">
                            <label for="inputPasswordNew2"
                              >Verify password</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="inputPasswordNew2"
                            />
                          </div>
                          <button type="submit" class="btn btn-primary">
                            Save changes
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="delete" role="tabpanel">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Delete Account</h5>
                        <p>
                          Are you sure you want to delete your account? This
                          action cannot be undone.
                        </p>
                        <button type="button" class="btn btn-danger">
                          Delete Account
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <div class="footer">
      <footer>
        <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
