<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingo swahili</title>
    <link rel="stylesheet" href="/app/static/css/each_course.css"> 

</head>
<body>
    <header class="header">
        <div class="header-content responsive-wrapper">
            <div class="header-logo">
                <a href="dashboard.html" style="text-decoration: none;"><h1>LINGO<span>SMART</span></h1></a>
            </div>
            <div class="header-navigation">
                <nav class="header-navigation-links">
                    <a href="dashboard.html"> Home </a>
                    <a href="course.html">Courses</a>
                    <a href="resources.html">Resources</a>
                    <a href="setting.html" class="active">Settings</a>
                </nav>
                <div class="header-navigation-actions">
                    <a href="setting.html" class="button">
                        <i class="ph-lightning-bold"></i>
                        <span>User Profile</span>
                    </a>
                    <a href="setting.html" class="avatar">
                        <img src="/app/static/assets/profile.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="info"> 
        
        <div class="sidebar">
            <div class="vertical-tabs">
                <a href="dashboard.html">Dashboard</a>
                <a href="kinyarwanda.html"> Kinyarwanda </a>
                <a href="english.html"> English </a>
                <a href="#"> Swahili </a>
                <a href="french.html"> French </a>
                <a href="resources.html"> Dictionary </a>
                <a href="login.html"><button class="Btn">

                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                    
                    <div class="text">Logout</div>
                </button>
                
                
                </a>
            </div>        
        </div>



        <div class="container">    
            <main class="main">
                <div class="responsive-wrapper">
                    <div class="main-header">
                        <h1>Learn Swahili</h1>
                        <img src="/app/static/assets/swahili.jpeg">
                    </div>
                    <p>Swahili, also known as Kiswahili, is a widely spoken language in Africa, offering a gateway to understanding the rich cultural heritage of East Africa. By learning Swahili, you can dive into the diverse traditions, music, and history of the region. It opens doors to unique experiences and interactions across multiple countries.

                        Swahili is the most spoken language in Africa, with over 100 million speakers. It is an official language of the African Union and several countries, including Tanzania, Kenya, Uganda, and the Democratic Republic of Congo. Swahili is also spoken in parts of Mozambique, Burundi, Rwanda, and the Comoros Islands. It belongs to the Bantu language family, and its vocabulary has influences from Arabic, Portuguese, German, and English due to historical trade and colonization.</p>
                    <div class="main-header">
                        <h1>Peculiar Features</h1>
                        <p>Swahili is known for its straightforward grammar and phonetic pronunciation, making it relatively easy to learn for beginners. Unlike many African languages, it is not tonal, which simplifies pronunciation. Swahili uses the Latin alphabet, and words are pronounced as they are written, with consistent vowel sounds. The language is agglutinative, meaning it uses prefixes and suffixes to modify root words. For example, the noun class system is an important feature, where nouns are categorized into different classes that affect verb conjugation and adjective agreement.

                            A relief to Swahili learners is that verbs are not conjugated for person, only for tense, which simplifies learning conjugations. Additionally, the subject and object are often incorporated into the verb, making sentences concise.</p>
                    </div>
                    <div class="main-header">
                       <h1>Learn Swahili Online</h1>
                       <p>Learning Swahili can enhance your understanding of African cultures and improve communication across several countries. There are numerous online resources available for free, including interactive lessons, audio materials, and vocabulary flashcards. These resources help you grasp common Swahili words, phrases, and basic grammar, making the learning process engaging and accessible.All these are here!</p>
                    </div>
                    <div class="main-header">
                        <h1><a href="swahili_resource.html">Learn Swahili With Us</a></h1>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div class="footer">
        <footer>
            <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
