<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lingo Swahili</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/each_course.css')}}"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-content responsive-wrapper">
        <div class="header-logo">
          <a href="{{url_for('dashboard')}}" style="text-decoration: none"
            ><h1>LINGO<span>SMART</span></h1></a
          >
        </div>
        <div class="header-navigation">
          <nav class="header-navigation-links">
            <a href="{{url_for('dashboard')}}"> Home </a>
            <a href="{{url_for('courses')}}">Courses</a>
            <a href="{{ url_for('resourses')}}">Resources</a>
            <a href="{{url_for('setting')}}" class="active">Settings</a>
          </nav>
          <div class="header-navigation-actions">
            <a href="{{url_for('setting')}}" class="button">
              <i class="ph-lightning-bold"></i>
              <span>User Profile</span>
            </a>
            <a href="{{url_for('setting')}}" class="avatar">
              <img
                src="{{url_for('static',filename='assets/profile.jpg')}}"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="info">
      <div class="sidebar">
        <div class="vertical-tabs">
          <a href="{{url_for('dashboard')}}">Dashboard</a>
          <a href="{{url_for('kinyarwanda')}}"> Kinyarwanda </a>
          <a href="{{url_for('english')}}"> English </a>
          <a href="{{url_for('swahili')}}"> Swahili </a>
          <a href="{{url_for('french')}}"> French </a>
          <a href="{{url_for('resourses')}}"> Dictionary</a>
          <a href="{{url_for('logout')}}"
            ><button class="Btn">
              <div class="sign">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                  ></path>
                </svg>
              </div>

              <div class="text">Logout</div>
            </button>
          </a>
        </div>
      </div>

      <div class="container">
        <main class="main">
          <div class="responsive-wrapper">
            <div class="main-header">
              <h1>Swahili phrases</h1>
            </div>
            <p>
              In this robust Swahili lesson, you'll become familiar with 18
              indispensable Swahili phrases for meeting someone new. It starts
              with simple greetings like "Hello" and "Good morning," and extends
              to more involved questions like "Where do you live?" and "How are
              you?" When communications get a little fumbled, you'll have
              Swahili phrases like "Sorry, I did not hear you" to keep the
              conversation flowing. These expressions are more than mere words;
              they act as social instruments that enable you to connect,
              interact, and build relationships wherever you go.
            </p>
            <table>
              <tr>
                <th>English</th>
                <th>Swahili</th>
              </tr>
              <tr>
                <td>Hello</td>
                <td>Hujambo</td>
              </tr>
              <tr>
                <td>Good morning</td>
                <td>Habari ya asubuhi</td>
              </tr>
              <tr>
                <td>Good afternoon</td>
                <td>Habari ya mchana</td>
              </tr>
              <tr>
                <td>Good evening</td>
                <td>Habari ya jioni</td>
              </tr>
              <tr>
                <td>Good night</td>
                <td>Usiku mwema</td>
              </tr>
              <tr>
                <td>What is your name?</td>
                <td>Jina lako ni nani?</td>
              </tr>
              <tr>
                <td>My name is ___</td>
                <td>Jina langu ni ___</td>
              </tr>
              <tr>
                <td>Sorry, I did not hear you</td>
                <td>Samahani, sijakusikia</td>
              </tr>
              <tr>
                <td>Where do you live?</td>
                <td>Unaishi wapi?</td>
              </tr>
              <tr>
                <td>Where are you from?</td>
                <td>Unatoka wapi?</td>
              </tr>
              <tr>
                <td>How are you?</td>
                <td>Habari gani?</td>
              </tr>
              <tr>
                <td>fine, thank you</td>
                <td>Nzuri, asante</td>
              </tr>
              <tr>
                <td>And you?</td>
                <td>Na wewe?</td>
              </tr>
              <tr>
                <td>Nice to meet you</td>
                <td>Vizuri kukutana na wewe</td>
              </tr>
              <tr>
                <td>Nice to see you</td>
                <td>Vizuri kukuona</td>
              </tr>
              <tr>
                <td>have a nice day</td>
                <td>Uwe na siku njema</td>
              </tr>
              <tr>
                <td>see you later</td>
                <td>Tutaonana baadaye</td>
              </tr>
              <tr>
                <td>see you tomorrow</td>
                <td>Tutaonana kesho</td>
              </tr>
              <tr>
                <td>Goodbye</td>
                <td>Kwaheri</td>
              </tr>
            </table>
            <div class="main-header">
              <h1>Count from 1 to 10 in Swahili</h1>
            </div>
            <p>
              Jump into the world of numbers with this foundational Swahili
              lesson! Starting from the basics, you'll learn how to count from 1
              to 10. But this Swahili lesson is more than just counting; it’s
              about unlocking numerous real-world applications, from shopping at
              local markets to telling people how many siblings you have.
            </p>
            <table>
              <tr>
                <th>English</th>
                <th>Swahili</th>
              </tr>
              <tr>
                <td>Numbers</td>
                <td>Hesabu</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Moja</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mbili</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Tatu</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Nne</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Tano</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Sita</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Saba</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Nane</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Tisa</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Kumi</td>
              </tr>
            </table>

            <div class="main-header">
              <h1>Recreational Activities</h1>
            </div>
            <p>
              Welcome to Swahili Lesson, which is designed to familiarize you
              with the Swahili vocabulary surrounding recreational activities.
              These activities range from adrenaline-pumping adventures like
              diving and surfing to more leisurely pursuits such as cycling and
              archery. Whether you enjoy spending your free time indoors or
              outdoors, this set of words will come in handy.
            </p>
            <table>
              <tr>
                <th>English</th>
                <th>Swahili</th>
              </tr>
              <tr>
                <td>Surfing</td>
                <td>Mchezo wa kuelea mawimbini</td>
              </tr>
              <tr>
                <td>Swimming</td>
                <td>Kuogelea</td>
              </tr>
              <tr>
                <td>Diving</td>
                <td>Kupiga mbizi</td>
              </tr>
              <tr>
                <td>Cycling</td>
                <td>Kuendesha baiskeli</td>
              </tr>
              <tr>
                <td>Archery</td>
                <td>Mchezo wa kulenga mishale</td>
              </tr>
              <tr>
                <td>Sailing</td>
                <td>Kusafiri kwa mashua</td>
              </tr>
              <tr>
                <td>Fencing</td>
                <td>Mchezo wa upanga</td>
              </tr>
              <tr>
                <td>Skiing</td>
                <td>Kuteleza kwenye theluji</td>
              </tr>
              <tr>
                <td>Snowboarding</td>
                <td>Kuteleza na ubao kwenye theluji</td>
              </tr>
              <tr>
                <td>Ice skating</td>
                <td>Kuteleza kwenye barafu</td>
              </tr>
              <tr>
                <td>Boxing</td>
                <td>Ndondi</td>
              </tr>
              <tr>
                <td>Running</td>
                <td>Kukimbia</td>
              </tr>
              <tr>
                <td>Weightlifting</td>
                <td>Kunyanyua uzani</td>
              </tr>
            </table>
            <div class="main-header">
              <h1>Swahili Dictionary</h1>
            </div>
            <p>
              There are a lot of Swahili dictionaries on the Internet. We choose
              the best one for you! Use the English dictionary below to turn
              your language learning process into something interesting and
              exciting.Try it right now!
            </p>
            <a href="https://translate.google.com/?sl=auto&tl=en&op=translate"
              ><img
                src="{{ url_for('static', filename='assets/google.png') }}"
                class="dictionary"
              />Google translate</a
            >

            <div class="main-header">
              <h1>Other Resources</h1>
            </div>
            <p>
              Youtube is one of the best online learning platforms.There are a
              thousand channels for language learning which are also tailored to
              enable beginners to grasp different words. We choose the best one
              for you! Use the Youtube channel below to turn your language
              learning process into something interesting and exciting.Try it
              right now!
            </p>
            <a href="https://www.youtube.com/@SwahiliPod101/videos"
              ><img
                src="{{ url_for('static', filename='assets/youtube.png') }}"
                class="dictionary"
              />Youtube</a
            >
          </div>
        </main>
      </div>
    </div>
    <div class="footer">
      <footer>
        <p>&copy; 2024 LINGOSMART. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
